<!DOCTYPE html>
<html lang="en" data-theme="default">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />

    <link href="_content/NeoBlazorUI.Components/blazorui.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/NeoUI.Web.Client/css/app.css" />
    
    <!-- Base themes -->
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/base/zinc.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/base/slate.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/base/gray.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/base/neutral.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/base/stone.css" />
    
    <!-- Primary themes (all 17) -->
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/blue.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/red.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/rose.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/orange.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/amber.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/yellow.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/lime.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/green.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/emerald.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/teal.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/cyan.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/sky.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/indigo.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/violet.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/purple.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/fuchsia.css" />
    <link rel="stylesheet" href="_content/NeoBlazorUI.Components/css/themes/primary/pink.css" />
    
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <script src="_content/NeoBlazorUI.Components/js/theme.js"></script>
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
