@inherits LayoutComponentBase

<div class="flex min-h-screen flex-col">
    <SiteHeader />
    <main class="flex-1">
        @Body
    </main>
    <SiteFooter />
</div>

<DialogHost />
<ToastProvider />
