@namespace BlazorUI.Components.Chart
@using BlazorUI.Components.Chart.Internal
@typeparam TData
@inherits ChartBase<TData>

<CascadingValue Value="this" IsFixed="true">
    <div class="chart-pie-container" style="width: 100%; height: 100%; position: relative;">
        <div @ref="_canvasRef" style="width: 100%; height: 100%;"></div>
    </div>
    @ChildContent
</CascadingValue>

@code {
    private List<Pie> _pies = new();
    
    protected override EChartsOption BuildEChartsOption()
    {
        var option = new EChartsOption
        {
            Legend = BuildLegend(),
            Tooltip = BuildTooltip(),
            Series = BuildSeries(),
            Animation = EnableAnimation,
            AnimationDuration = EnableAnimation ? AnimationDuration : 0,
            AnimationEasing = MapAnimationEasing(AnimationEasing),
            AnimationDelay = AnimationDelay,
            AnimationDurationUpdate = AnimationDurationUpdate,
            AnimationEasingUpdate = MapAnimationEasing(AnimationEasingUpdate)
        };
        
        return option;
    }
    
    private List<EChartsSeries> BuildSeries()
    {
        var seriesList = new List<EChartsSeries>();
        
        if (_pies.Any())
        {
            foreach (var pie in _pies)
            {
                // Extract data for pie chart
                var pieData = new List<object>();
                foreach (var item in Data)
                {
                    var name = DataExtractor.GetValue(item, pie.NameKey)?.ToString() ?? "";
                    var value = Convert.ToDouble(DataExtractor.GetValue(item, pie.DataKey) ?? 0);
                    pieData.Add(new { name, value });
                }
                
                var series = new EChartsSeries
                {
                    Type = "pie",
                    Name = pie.Name,
                    Data = pieData,
                    Radius = !string.IsNullOrEmpty(pie.InnerRadius) 
                        ? new object[] { pie.InnerRadius, "70%" } 
                        : "70%",
                    Emphasis = new EChartsEmphasis
                    {
                        Disabled = true // Pie charts have emphasis disabled by default per spec
                    }
                };
                
                // Map label parameters to ECharts series.label
                if (pie.ShowLabel || pie.LabelList != null)
                {
                    var labelList = pie.LabelList;
                    series.Label = new EChartsLabel
                    {
                        Show = labelList?.Show ?? pie.ShowLabel,
                        Position = MapLabelPosition(labelList?.Position ?? pie.LabelPosition ?? LabelPosition.Outside),
                        Formatter = labelList?.Formatter ?? pie.LabelFormatter,
                        Color = labelList?.Color,
                        FontSize = labelList?.FontSize,
                        Offset = labelList?.Offset
                    };
                }
                
                // Map labelLine parameters
                if (pie.ShowLabelLine || pie.LabelLine != null)
                {
                    var labelLine = pie.LabelLine;
                    series.LabelLine = new EChartsLabelLine
                    {
                        Show = labelLine?.Show ?? pie.ShowLabelLine,
                        Length = labelLine?.Length,
                        Length2 = labelLine?.Length2,
                        Smooth = labelLine?.Smooth
                    };
                }
                
                // Map animation properties (series-level overrides chart-level defaults)
                series.Animation = pie.EnableAnimation ?? EnableAnimation;
                series.AnimationDuration = pie.AnimationDuration ?? AnimationDuration;
                series.AnimationEasing = MapAnimationEasing(pie.AnimationEasing ?? AnimationEasing);
                series.AnimationDelay = pie.AnimationDelay ?? AnimationDelay;
                series.AnimationDurationUpdate = pie.AnimationDurationUpdate ?? AnimationDurationUpdate;
                series.AnimationEasingUpdate = MapAnimationEasing(pie.AnimationEasingUpdate ?? AnimationEasingUpdate);
                
                seriesList.Add(series);
            }
        }
        
        return seriesList;
    }
    
    protected override ChartType GetChartType()
    {
        return ChartType.Pie;
    }
    
    protected override TooltipMode GetDefaultTooltipMode()
    {
        return TooltipMode.Item;
    }
    
    private string MapLabelPosition(LabelPosition position)
    {
        return position switch
        {
            LabelPosition.Top => "top",
            LabelPosition.Bottom => "bottom",
            LabelPosition.Left => "left",
            LabelPosition.Right => "right",
            LabelPosition.Inside => "inside",
            LabelPosition.InsideTop => "insideTop",
            LabelPosition.InsideBottom => "insideBottom",
            LabelPosition.InsideLeft => "insideLeft",
            LabelPosition.InsideRight => "insideRight",
            LabelPosition.Center => "center",
            LabelPosition.Outside => "outside",
            _ => "outside"
        };
    }
    
    internal void RegisterPie(Pie pie)
    {
        _pies.Add(pie);
        StateHasChanged();
    }
    
    internal void RegisterTooltip(Tooltip tooltip) { _tooltip = tooltip; StateHasChanged(); }
    internal void RegisterLegend(Legend legend) { _legend = legend; StateHasChanged(); }
}
