@namespace BlazorUI.Components.Chart
@typeparam TData
@inherits ComponentBase

<CascadingValue Value="_context" IsFixed="true">
    <div class="@ContainerClass">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter, EditorRequired] public IEnumerable<TData> Data { get; set; } = Enumerable.Empty<TData>();
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    private ChartContext<TData> _context = new("pie");
    
    protected override void OnInitialized()
    {
        _context.EnsureImplicitPrimitives(TooltipMode.Item);
    }
    
    public Task RefreshAsync() => Task.CompletedTask;
    
    private string ContainerClass => string.IsNullOrWhiteSpace(Class) ? "chart-root" : $"chart-root {Class}";
}
