@namespace BlazorUI.Components.Chart
@using BlazorUI.Components.Chart.Internal
@typeparam TData
@inherits ChartBase<TData>

<CascadingValue Value="this" IsFixed="true">
    <div class="chart-radar-container" style="width: 100%; height: 100%; position: relative;">
        <div @ref="_canvasRef" style="width: 100%; height: 100%;"></div>
    </div>
    @ChildContent
</CascadingValue>

@code {
    private List<Radar> _radars = new();
    
    protected override EChartsOption BuildEChartsOption()
    {
        var option = new EChartsOption
        {
            Legend = BuildLegend(),
            Tooltip = BuildTooltip(),
            Radar = BuildRadarCoordinate(),
            Series = BuildSeries(),
            Animation = EnableAnimation,
            AnimationDuration = EnableAnimation ? AnimationDuration : 0,
            AnimationEasing = MapAnimationEasing(AnimationEasing),
            AnimationDelay = AnimationDelay,
            AnimationDurationUpdate = AnimationDurationUpdate,
            AnimationEasingUpdate = MapAnimationEasing(AnimationEasingUpdate)
        };
        
        return option;
    }
    
    private EChartsRadar BuildRadarCoordinate()
    {
        // Build radar indicators from data
        var indicators = new List<EChartsRadarIndicator>();
        
        if (_radars.Any() && Data.Any())
        {
            // Get all numeric property names from the data type
            var properties = typeof(TData).GetProperties()
                .Where(p => p.PropertyType == typeof(int) || 
                           p.PropertyType == typeof(double) || 
                           p.PropertyType == typeof(decimal) ||
                           p.PropertyType == typeof(float) ||
                           p.PropertyType == typeof(int?) ||
                           p.PropertyType == typeof(double?) ||
                           p.PropertyType == typeof(decimal?) ||
                           p.PropertyType == typeof(float?))
                .ToList();
            
            foreach (var prop in properties)
            {
                // Calculate max value across all data items for this property
                var values = Data.Select(d => {
                    var val = prop.GetValue(d);
                    return val != null ? Convert.ToDouble(val) : 0.0;
                }).ToList();
                
                var maxValue = values.Any() ? values.Max() : 100;
                indicators.Add(new EChartsRadarIndicator
                {
                    Name = prop.Name,
                    Max = Math.Max(maxValue * 1.2, 1) // Add 20% headroom, minimum 1
                });
            }
        }
        
        return new EChartsRadar
        {
            Indicator = indicators.Any() ? indicators : null
        };
    }
    
    private List<EChartsSeries> BuildSeries()
    {
        var seriesList = new List<EChartsSeries>();
        
        if (_radars.Any())
        {
            // Get numeric properties once
            var properties = typeof(TData).GetProperties()
                .Where(p => p.PropertyType == typeof(int) || 
                           p.PropertyType == typeof(double) || 
                           p.PropertyType == typeof(decimal) ||
                           p.PropertyType == typeof(float) ||
                           p.PropertyType == typeof(int?) ||
                           p.PropertyType == typeof(double?) ||
                           p.PropertyType == typeof(decimal?) ||
                           p.PropertyType == typeof(float?))
                .ToList();
            
            for (int i = 0; i < _radars.Count; i++)
            {
                var radar = _radars[i];
                
                // Build radar data - one entry per data item
                var radarData = new List<Dictionary<string, object>>();
                foreach (var item in Data)
                {
                    var values = new List<double>();
                    foreach (var prop in properties)
                    {
                        var val = prop.GetValue(item);
                        values.Add(val != null ? Convert.ToDouble(val) : 0.0);
                    }
                    
                    radarData.Add(new Dictionary<string, object>
                    {
                        ["value"] = values,
                        ["name"] = radar.Name ?? radar.DataKey
                    });
                }
                
                var series = new EChartsSeries
                {
                    Type = "radar",
                    Name = radar.Name ?? radar.DataKey,
                    Data = radarData.Cast<object>().ToList(),
                    ItemStyle = new EChartsItemStyle
                    {
                        Color = GetSeriesColor(i, radar.Color)
                    },
                    AreaStyle = radar.FillArea ? new EChartsAreaStyle
                    {
                        Color = GetSeriesColor(i, radar.Color),
                        Opacity = 0.3
                    } : null,
                    LineStyle = new EChartsLineStyle
                    {
                        Color = GetSeriesColor(i, radar.Color)
                    },
                    Emphasis = new EChartsEmphasis
                    {
                        Disabled = !radar.Emphasis,
                        Focus = radar.Focus == Focus.Self ? "self" : null
                    }
                };
                
                // Map label parameters to ECharts series.label
                if (radar.ShowLabel || radar.LabelList != null)
                {
                    var labelList = radar.LabelList;
                    series.Label = new EChartsLabel
                    {
                        Show = labelList?.Show ?? radar.ShowLabel,
                        Position = MapLabelPosition(labelList?.Position ?? radar.LabelPosition ?? LabelPosition.Top),
                        Formatter = labelList?.Formatter ?? radar.LabelFormatter,
                        Color = labelList?.Color,
                        FontSize = labelList?.FontSize,
                        Offset = labelList?.Offset
                    };
                }
                
                // Map animation properties (series-level overrides chart-level defaults)
                series.Animation = radar.EnableAnimation ?? EnableAnimation;
                series.AnimationDuration = radar.AnimationDuration ?? AnimationDuration;
                series.AnimationEasing = MapAnimationEasing(radar.AnimationEasing ?? AnimationEasing);
                series.AnimationDelay = radar.AnimationDelay ?? AnimationDelay;
                series.AnimationDurationUpdate = radar.AnimationDurationUpdate ?? AnimationDurationUpdate;
                series.AnimationEasingUpdate = MapAnimationEasing(radar.AnimationEasingUpdate ?? AnimationEasingUpdate);
                
                seriesList.Add(series);
            }
        }
        
        return seriesList;
    }
    
    private string MapLabelPosition(LabelPosition position)
    {
        return position switch
        {
            LabelPosition.Top => "top",
            LabelPosition.Bottom => "bottom",
            LabelPosition.Left => "left",
            LabelPosition.Right => "right",
            LabelPosition.Inside => "inside",
            LabelPosition.InsideTop => "insideTop",
            LabelPosition.InsideBottom => "insideBottom",
            LabelPosition.InsideLeft => "insideLeft",
            LabelPosition.InsideRight => "insideRight",
            LabelPosition.Center => "center",
            LabelPosition.Outside => "outside",
            _ => "top"
        };
    }
    
    protected override ChartType GetChartType()
    {
        return ChartType.Radar;
    }
    
    protected override TooltipMode GetDefaultTooltipMode()
    {
        return TooltipMode.Item;
    }
    
    internal void RegisterRadar(Radar radar)
    {
        _radars.Add(radar);
        StateHasChanged();
    }
    
    internal void RegisterTooltip(Tooltip tooltip) { _tooltip = tooltip; StateHasChanged(); }
    internal void RegisterLegend(Legend legend) { _legend = legend; StateHasChanged(); }
}
