@namespace BlazorUI.Components.Collapsible

<BlazorUI.Primitives.Collapsible.CollapsibleContent ForceMount="true" class="@GridCssClass">
    <div class="@Class">
        @ChildContent
    </div>
</BlazorUI.Primitives.Collapsible.CollapsibleContent>
