@namespace BlazorUI.Components.Progress

<div class="@CssClass" role="progressbar" aria-valuemin="0" aria-valuemax="@Max" aria-valuenow="@Value">
    <div class="h-full w-full flex-1 bg-primary transition-all" style="transform: translateX(-@(100 - PercentageValue)%)"></div>
</div>
