@namespace NeoUI.Blazor.Typography

<div class="@CssClass">@ChildContent</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private string CssClass => NeoUI.Blazor.Utilities.ClassNames.cn(
        "text-lg font-semibold",
        Class
    );
}
