@namespace BlazorUI.Components.Typography

<h1 class="@CssClass">@ChildContent</h1>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private string CssClass => BlazorUI.Components.Utilities.ClassNames.cn(
        "scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl",
        Class
    );
}
