@namespace NeoUI.Blazor.Typography

<h3 class="@CssClass">@ChildContent</h3>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    private string CssClass => NeoUI.Blazor.Utilities.ClassNames.cn(
        "scroll-m-20 text-2xl font-semibold tracking-tight",
        Class
    );
}
