@namespace BlazorUI.Components.Pagination
@using BlazorUI.Icons.Lucide.Components

<span aria-hidden="true" class="@CssClass">
    <LucideIcon Name="ellipsis" Class="h-4 w-4" />
    <span class="sr-only">More pages</span>
</span>
