@namespace BlazorUI.Primitives.Table
@typeparam TData where TData : class

<<<<<<< HEAD
<CascadingValue Value="Context" IsFixed="true">
=======
<CascadingValue Value="Context" IsFixed="false">
>>>>>>> pr-89
    <table role="table"
           aria-label="@AriaLabel"
           aria-rowcount="@GetAriaRowCount()"
           class="@Class"
           @attributes="AdditionalAttributes">
        @ChildContent
    </table>
</CascadingValue>
