@namespace BlazorUI.Components.ButtonGroup
@using BlazorUI.Components.Separator

<div data-slot="separator" class="@WrapperCssClass">
    <Separator
        Orientation="Orientation"
        Decorative="@Decorative"
        Class="@CssClass" />
</div>
