@namespace BlazorUI.Components.Breadcrumb

<span role="link" aria-disabled="true" aria-current="page" class="@CssClass">
    @ChildContent
</span>

@code {
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => BlazorUI.Components.Utilities.ClassNames.cn(
        "font-normal text-foreground",
        Class
    );
}
