@namespace NeoUI.Blazor

<NeoUI.Blazor.Primitives.CollapsibleContent ForceMount="@ForceMount" class="@GridCssClass">
    <div class="overflow-hidden min-h-0">
        <div class="@Class">
            @ChildContent
        </div>
    </div>
</NeoUI.Blazor.Primitives.CollapsibleContent>
