@namespace NeoUI.Blazor

<CollapsibleContentPrimitive ForceMount="@ForceMount" class="@GridCssClass">
    <div class="overflow-hidden min-h-0">
        <div class="@Class">
            @ChildContent
        </div>
    </div>
</CollapsibleContentPrimitive>
