@namespace BlazorUI.Components.Menubar
@using BlazorUI.Components.Utilities

@* Styled MenubarSeparator - horizontal divider between menu items *@
<div class="@CssClass" role="separator" aria-orientation="horizontal"></div>

@code {
    /// <summary>
    /// Additional CSS classes to apply to the separator.
    /// </summary>
    [Parameter]
    public string? Class { get; set; }

    private string CssClass => ClassNames.cn("-mx-1 my-1 h-px bg-border", Class);
}
