@namespace NeoUI.Blazor.Primitives
@typeparam TItem

<CascadingValue Value="@_context" IsFixed="true">
    <div @attributes="AdditionalAttributes">
        @ChildContent?(_scope)
    </div>
</CascadingValue>
