@namespace BlazorUI.Components.Drawer

<p class="@CssClass">
    @ChildContent
</p>

@code {
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => BlazorUI.Components.Utilities.ClassNames.cn(
        "text-sm text-muted-foreground",
        Class
    );
}
