@namespace BlazorUI.Primitives.Collapsible

@* CollapsibleContent primitive - collapsible content region *@
@if (_shouldRender)
{
    <div role="region"
         data-state="@(Context?.Open ?? false ? "open" : "closed")"
         aria-hidden="@(!(Context?.Open ?? false))"
         @attributes="AdditionalAttributes">
<<<<<<< HEAD
        <div class="overflow-hidden min-h-0">
            @ChildContent
        </div>
=======
        @ChildContent
>>>>>>> pr-89
    </div>
}
