<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>jimmyps@intersoftsolutions.com</AccountUsername>
    <AzureServiceName>BlazorUIDemo20251223130817</AzureServiceName>
    <AzureServiceResourceGroup>vm1_group</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/0dccbb58-943f-4640-bf3b-da4a97c4e86e/resourceGroups/vm1_group/providers/Microsoft.Web/sites/BlazorUIDemo20251223130817</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>0dccbb58-943f-4640-bf3b-da4a97c4e86e</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure subscription 1</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/0dccbb58-943f-4640-bf3b-da4a97c4e86e/resourceGroups/vm1_group/providers/Microsoft.Web/sites/BlazorUIDemo20251223130817 (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectGuid>aca5ba0d-b4c7-4558-9f3f-8c1af0ef84f9</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>demo\BlazorUI.Demo</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>94689985-f372-44c2-84d4-8fa1f0c3de20</TenantId>
  </PropertyGroup>
</Project>