@namespace BlazorUI.Primitives.Services
@implements IDisposable
@inject IPortalService PortalService

@* Renders all registered portals at the document body level *@
@foreach (var portal in PortalService.GetPortals())
{
    <div data-portal-id="@portal.Key" class="blazorui-portal" style="display: contents;">
        @portal.Value
    </div>
}

@code {
    protected override void OnInitialized()
    {
        PortalService.OnPortalsChanged += RaiseStateHasChanged;
    }

    public void Dispose()
    {
        PortalService.OnPortalsChanged -= RaiseStateHasChanged;
    }

    private void RaiseStateHasChanged()
    {
        // Fix: Use a void-returning lambda for Dispatcher.InvokeAsync
        this.InvokeAsync(StateHasChanged);
    }
}
